:root {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  margin: 10;
  padding: 0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#mostrarPersonajes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}
#mostrarPlanetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: rgb(255, 102, 0);
  color: black;
  border-radius: 8px;
  box-shadow: 15px 2px 8px rgb(196, 82, 6);
  overflow: visible;
  padding: 2rem;
  text-align: left;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  flex-direction: column;
  gap: 1rem;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 2rem 0 orange
              0 0.5rem 2rem 0 red;
  cursor: pointer;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 125%;
  max-height: 125%;
  object-fit: contain;
}

.image-containerplanets {
  width: 100%;
  height: 200px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-containerplanets img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.data-container h2{
  margin-top: 40px;
  text-align: center;
}
.data-container p {
  margin: 0.2rem 0;
  font-size: 13px;
}
